header.primary {
  & > nav {
    margin-top: 50px;
    & > ul.links {
      padding:0 50px;
      background-color: #cfe3ec73;
      display: table;
      table-layout: fixed;
      width: ~'calc(100% - 100px)';
      list-style: none;
      margin:0;
      line-height: 80px;
      & > li {
        font-size: 2em;
        display: table-cell;
        text-align: center;
        font-family: 'Vollkorn SC', serif;
        margin: 0 10px;
      }
    }
  }
}
